services:
    postgres:
        image: 'postgres:17-alpine'
        ports:
            - '5432:5432'
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: password
            POSTGRES_DB: database
        # volumes:
        #     - 'postgres:/var/lib/postgresql/data'
        healthcheck:
            test:
                - CMD
                - pg_isready
                - '-U'
                - 'postgres'
            retries: 3
            timeout: 5s



volumes:
    postgres:
        driver: local